{% extends "layout.html" %}

{% block mainContent %}
 <br>
 <br>
 <br>
 <style>p span {font-size: 12px; color:#4A148C; font-weight: bold; font-family: Verdana}</style>
 <p>We are Summer Violet HostCentral - a group of four Yale MBA student-entrepreneurs, who are commited to making your event creation experience the best one yet.</p>


<span id="-name">Raul Cisneros  </span>  <img id="-headshot" src="http://i.imgur.com/bnQFQWY.png">          
<span id="-name">Anastasia Kiryushkina  </span> <img id="-headshot" src="http://i.imgur.com/oXUaPf3.png"> 
<span id="-name">Claudia Navarrete  </span>   <img id="-headshot" src="http://i.imgur.com/ZMvdAK5.png"> 
<br>
<span id="-name">Xiaolu Yang</span> <img id="-headshot" src="http://i.imgur.com/UXvsLiC.png"> 


{% endblock %}


