{% extends "layout.html" %}

{% block mainContent %}

{% if errors %}
    <div class="form-errors">
      <p>Email error!</p>
      <ul class="form-errors">
        {% for error in errors %}
          <li>{{errors}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

<p> Events description</p>

    <h1 id="title"> {{event.title}}</h1>
    <span id="date"> {{event.date|prettyDate}}</span> at
    <span id="location"> {{event.location}} </span>
    <p>Attendees:</p>
    <ul id="attendees">
        <li> {{event.attending}} </li>
        </ul>

<img id="image" src="{{event.image}}">

    <form id="email" method="POST">
        <label for="email">RSVP with your Yale email:</label>
        <input type="email" name="email">
        <button type="submit"> Submit </button>
       
     </form>
  
    <form>
        <input type = "radio" name = "rsvp" value = "attending" checked> Attending </input>
        <input type = "radio" name = "rsvp" value = "not-attending" > Not Attending </input>
    </form>
  
  
{% endblock %}


