header{
  font:20px;
}

body {
  padding: 50px;
  font: 12px 
  color: #4A148C;
  font-family: verdana;
  font-weight: bold;
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}

footer{
  background-color: #CE93D8;
  padding: 1em;
  border: 1px solid #ddd;
  margin: 2em 0;
  color: #4A148C;
}

#-headshot{
  height:12%;
  width:12%;
}

#image{
  padding-top: 5px;
  padding-bottom: 20px;
}

#logo{
  height:50%;
  width:100%;
  padding-top: 15 pix;
  padding-bottom:15 pix;
}

